header
    ul 
        li 
            a(href="/") Bosh sahifa  
        li 
            a(href="/products") Mahsulotlar 
        li 
            a(href="/hamkorlar") Hamkorlar 
        li 
            a(href="/news") Yangiliklar  
        li 
            a(href="/about") Biz haqimizda   
        li 
            a(href="/contacts") Aloqa   
        li 
            a(href="?lang=uz") O'zbekcha 
            a(href="?lang=ru") Русский 
            a(href="?lang=en") English 
        li 
            a(href="/register") Register 
        li 
            a(href="/login") Login   
        li 
            a(href="/products/add") Mahsulot yaratish   