extends ../layout

block content
    h1= title
    form(method="POST", action="/register")
        input(type="text" name="name" placeholder="Ismingiz")
        br
        input(type="email" name="email" placeholder="Emailingiz") 
        br
        input(type="password" name="password" placeholder="Parolingiz")
        br
        input(type="password" name="confirmPassword" placeholder="Parolingizni tasdiqlang")
        br
        input(type="submit")